<div class="container">
  <div class="row text-center">
    <h1><%= @user["username"] %></h1>
    <h2>your thoughts your home your world</h2>
  </div>

  <div class="row">
    <div class="col-sm-2 col-md-2">
      <%= image_tag @user["profile_picture"], class: 'img-circle' %>
    </div>
    <div class="col-sm-2 col-md-2">
      <%= image_tag "logo.PNG", style: "height: 190px;" %>
    </div>
    <div class="col-sm-8 col-md-8">
      <%= image_tag "rainbowbg.jpg", style: "height: 190px; width: 100%;" %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 col-md-2 text-center">
      <h3 style="margin-top: -25px;">Liz Hubertz</h3>
    </div>
    <div class="col-sm-10 col-md-10">
    </div>
  </div>

  <div class="row text-center">
    <div>
      <h3>Hi, I'm Liz! I like writing, art, music, and philosophy. :-)</h3>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-4">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Posts
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Art</a></li>
          <li><a href="#">Music</a></li>
          <li><a href="#">Philosophy</a></li>
          <li><a href="#">Writing</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Community
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Bob</a></li>
          <li><a href="#">Jill</a></li>
          <li><a href="#">Sandy</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="dropdown">
        <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">Flagged
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Awesome art post</a></li>
          <li><a href="#">Music post</a></li>
          <li><a href="#">Art I want to buy</a></li>
        </ul>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <% @media.each do |photo| %>
      <div class="col-sm-12 col-md-4">
        <div class="thumbnail">
          <%= image_tag photo["images"]["standard_resolution"]["url"] %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row center">
    <div class="col-sm-8">
      <h2>This homepage design is based on this original wireframe by the Homeworld student team:</h2>

      <%= image_tag "wireframe.JPG" %>
    </div>
  </div>
</div>
